body{
    text-align: center;
    background-color: cadetblue;
}
table{
    margin-left: -70px;
    font-size: 50px;
}
.list{
    font-size: 30px;
}
.table{
    font-size: 30px;
    text-align: center;
    
}